<?xml version="1.0" encoding="UTF-8"?>
<config>
	<admin>
		<routers>
			<dccharge>
				<use>admin</use>
				<args>
					<module>Dutycalculator_Charge</module>
					<frontName>dccharge</frontName>
				</args>
			</dccharge>
		</routers>
	</admin>
	<modules>
		<Dutycalculator_Charge>
			<version>0.4.6</version>
			<depends>
				<Mage_Checkout/>
				<Mage_Tax/>
			</depends>
		</Dutycalculator_Charge>
	</modules>
	<global>
		<blocks>
			<dccharge>
				<class>Dutycalculator_Charge_Block</class>
			</dccharge>
		</blocks>
		<models>
			<dccharge>
				<class>Dutycalculator_Charge_Model</class>
			</dccharge>
			<sales>
				<rewrite>
					<order_pdf_invoice>Dutycalculator_Charge_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
					<order_pdf_creditmemo>Dutycalculator_Charge_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
					<order_pdf_shipment>Dutycalculator_Charge_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
				</rewrite>
			</sales>
		</models>
		<helpers>
			<dccharge>
				<class>Dutycalculator_Charge_Helper</class>
			</dccharge>
			<tax>
				<rewrite>
					<data>Dutycalculator_Charge_Helper_Tax</data>
				</rewrite>
			</tax>
		</helpers>
		<resources>
			<dccharge_setup>
				<setup>
					<module>Dutycalculator_Charge</module>
					<class>Dutycalculator_Charge_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</dccharge_setup>
		</resources>
		<sales>
			<quote>
				<totals>
					<import_duty_tax>
						<class>Dutycalculator_Charge_Model_Quote</class>
						<renderer>dccharge/cart_totals_taxes</renderer>
						<after>tax,shipping</after>
						<before>grand_total</before>
					</import_duty_tax>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<import_duty_tax>
						<class>Dutycalculator_Charge_Model_Invoice</class>
						<after>tax,shipping</after>
						<before>grand_total</before>
					</import_duty_tax>
				</totals>
			</order_invoice>
			<order_creditmemo>
				<totals>
					<import_duty_tax>
						<class>Dutycalculator_Charge_Model_Creditmemo</class>
						<after>tax,shipping</after>
						<before>grand_total</before>
					</import_duty_tax>
				</totals>
			</order_creditmemo>
		</sales>
		<fieldsets>
			<sales_convert_quote>
				<import_duty_tax>
					<to_order>*</to_order>
				</import_duty_tax>
				<base_import_duty_tax>
					<to_order>*</to_order>
				</base_import_duty_tax>
				<import_duty>
					<to_order>*</to_order>
				</import_duty>
				<base_import_duty>
					<to_order>*</to_order>
				</base_import_duty>
				<sales_tax>
					<to_order>*</to_order>
				</sales_tax>
				<base_sales_tax>
					<to_order>*</to_order>
				</base_sales_tax>
				<delivery_duty_user_choice>
					<to_order>*</to_order>
				</delivery_duty_user_choice>
				<delivery_duty_type>
					<to_order>*</to_order>
				</delivery_duty_type>
				<dc_order_id>
					<to_order>*</to_order>
				</dc_order_id>
				<failed_calculation>
					<to_order>*</to_order>
				</failed_calculation>
				<dc_service_fee>
					<to_order>*</to_order>
				</dc_service_fee>
				<base_dc_service_fee>
					<to_order>*</to_order>
				</base_dc_service_fee>
			</sales_convert_quote>
			<sales_convert_quote_item>
				<import_duty_tax>
					<to_order_item>*</to_order_item>
				</import_duty_tax>
				<base_import_duty_tax>
					<to_order_item>*</to_order_item>
				</base_import_duty_tax>
				<import_duty>
					<to_order_item>*</to_order_item>
				</import_duty>
				<base_import_duty>
					<to_order_item>*</to_order_item>
				</base_import_duty>
				<sales_tax>
					<to_order_item>*</to_order_item>
				</sales_tax>
				<base_sales_tax>
					<to_order_item>*</to_order_item>
				</base_sales_tax>
				<import_duty_rate>
					<to_order_item>*</to_order_item>
				</import_duty_rate>
				<sales_tax_rate>
					<to_order_item>*</to_order_item>
				</sales_tax_rate>
			</sales_convert_quote_item>
			<sales_convert_order_item>
				<import_duty_tax>
					<to_invoice_item>*</to_invoice_item>
					<to_cm_item>*</to_cm_item>
				</import_duty_tax>
				<base_import_duty_tax>
					<to_invoice_item>*</to_invoice_item>
					<to_cm_item>*</to_cm_item>
				</base_import_duty_tax>
				<import_duty>
					<to_invoice_item>*</to_invoice_item>
					<to_cm_item>*</to_cm_item>
				</import_duty>
				<base_import_duty>
					<to_invoice_item>*</to_invoice_item>
					<to_cm_item>*</to_cm_item>
				</base_import_duty>
				<sales_tax>
					<to_invoice_item>*</to_invoice_item>
					<to_cm_item>*</to_cm_item>
				</sales_tax>
				<base_sales_tax>
					<to_invoice_item>*</to_invoice_item>
					<to_cm_item>*</to_cm_item>
				</base_sales_tax>
			</sales_convert_order_item>
			<sales_convert_order>
				<delivery_duty_type>
					<to_quote>*</to_quote>
					<to_invoice>*</to_invoice>
					<to_shipment>*</to_shipment>
					<to_cm>*</to_cm>
				</delivery_duty_type>
				<dc_order_id>
					<to_quote>*</to_quote>
					<to_invoice>*</to_invoice>
				</dc_order_id>
				<failed_calculation>
					<to_quote>*</to_quote>
					<to_invoice>*</to_invoice>
				</failed_calculation>
				<delivery_duty_user_choice>
					<to_quote>*</to_quote>
				</delivery_duty_user_choice>
				<dc_service_fee>
					<to_quote>*</to_quote>
				</dc_service_fee>
				<base_dc_service_fee>
					<to_quote>*</to_quote>
				</base_dc_service_fee>
			</sales_convert_order>
		</fieldsets>
		<pdf>
			<invoice>
				<default>dccharge/sales_order_pdf_items_invoice_default</default>
				<bundle>dccharge/sales_order_pdf_items_invoice_bundle</bundle>
				<downloadable>dccharge/sales_order_pdf_items_invoice_downloadable</downloadable>
			</invoice>
			<creditmemo>
				<default>dccharge/sales_order_pdf_items_creditmemo_default</default>
				<bundle>dccharge/sales_order_pdf_items_creditmemo_bundle</bundle>
				<downloadable>dccharge/sales_order_pdf_items_creditmemo_downloadable</downloadable>
			</creditmemo>
			<totals>
				<grand_total>
					<model>dccharge/sales_pdf_grandtotal</model>
				</grand_total>
				<tax translate="title">
					<title>Import Duty And Taxes</title>
					<source_field>import_duty_tax</source_field>
					<model>dccharge/sales_pdf_tax</model>
					<font_size>7</font_size>
					<display_zero>0</display_zero>
					<sort_order>401</sort_order>
				</tax>
			</totals>
		</pdf>
		<events>
			<adminhtml_catalog_product_edit_prepare_form>
				<observers>
					<adminhtml_catalog_product_edit_prepare_form_updater>
						<class>Dutycalculator_Charge_Model_Adminhtml_Observer</class>
						<method>prepareForm</method>
					</adminhtml_catalog_product_edit_prepare_form_updater>
				</observers>
			</adminhtml_catalog_product_edit_prepare_form>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<add_printing_actions_for_dc>
						<class>Dutycalculator_Charge_Model_Adminhtml_Observer</class>
						<method>addPrintingActions</method>
					</add_printing_actions_for_dc>
				</observers>
			</core_block_abstract_prepare_layout_before>
			<sales_order_invoice_save_after>
				<observers>
					<import_taxes_for_invoice>
						<class>Dutycalculator_Charge_Model_Adminhtml_Observer</class>
						<method>invoiceSaveAfter</method>
					</import_taxes_for_invoice>
				</observers>
			</sales_order_invoice_save_after>
			<sales_order_creditmemo_save_after>
				<observers>
					<import_taxes_for_creditmemo>
						<class>Dutycalculator_Charge_Model_Adminhtml_Observer</class>
						<method>creditmemoSaveAfter</method>
					</import_taxes_for_creditmemo>
				</observers>
			</sales_order_creditmemo_save_after>
			<sales_order_shipment_save_before>
				<observers>
					<import_taxes_for_shipment>
						<class>Dutycalculator_Charge_Model_Adminhtml_Observer</class>
						<method>shipmentSaveBefore</method>
					</import_taxes_for_shipment>
				</observers>
			</sales_order_shipment_save_before>
			<sales_order_shipment_save_after>
				<observers>
					<dc_documents>
						<class>Dutycalculator_Charge_Model_Adminhtml_Observer</class>
						<method>generateDutyCalculatorDocuments</method>
					</dc_documents>
				</observers>
			</sales_order_shipment_save_after>
			<sales_order_address_save_after>
				<observers>
					<dc_documents_for_address>
						<class>Dutycalculator_Charge_Model_Adminhtml_Observer</class>
						<method>salesOrderAddressSaveAfter</method>
					</dc_documents_for_address>
				</observers>
			</sales_order_address_save_after>
			<paypal_prepare_line_items>
				<observers>
					<import_taxes_for_paypal>
						<class>Dutycalculator_Charge_Model_Frontend_Observer</class>
						<method>updatePaypalTotal</method>
					</import_taxes_for_paypal>
				</observers>
			</paypal_prepare_line_items>
			<sales_model_service_quote_submit_before>
				<observers>
					<init_dc_rates>
						<class>Dutycalculator_Charge_Model_Frontend_Observer</class>
						<method>initDCRates</method>
					</init_dc_rates>
				</observers>
			</sales_model_service_quote_submit_before>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<dccharge>
					<file>dccharge.xml</file>
				</dccharge>
			</updates>
		</layout>
		<routers>
			<deliverydutyoptions>
				<use>standard</use>
				<args>
					<module>Dutycalculator_Charge</module>
					<frontName>deliverydutyoptions</frontName>
				</args>
			</deliverydutyoptions>
		</routers>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<dccharge module="Dutycalculator_Charge">
					<file>dccharge.xml</file>
				</dccharge>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<dc_charge_extension>
			<dccharge>
				<calculation_details_uri>http://www.dutycalculator.com/new-import-duty-and-tax-calculation/saved_calculations/view_details/</calculation_details_uri>
				<classification_uri>http://www.dutycalculator.com/classification_request/</classification_uri>
				<api_uri>http://www.dutycalculator.com/api2.1/</api_uri>
				<api_key></api_key>
				<enabled>1</enabled>
				<allow-specific-countries>0</allow-specific-countries>
				<allow-specific-shipping-methods>0</allow-specific-shipping-methods>
				<delivery-type>ddp</delivery-type>
				<ddp-fee-type>percent</ddp-fee-type>
				<ddp-fee-value>0</ddp-fee-value>
				<seller-country>US</seller-country>
				<respect-fta>0</respect-fta>
				<create-documents>1</create-documents>
				<consolidated-price>0</consolidated-price>
				<consolidated-price-country>GB</consolidated-price-country>
				<consolidated-price-cache>604800</consolidated-price-cache>
				<weight-unit>lb</weight-unit>
				<allow-override-products-weight>0</allow-override-products-weight>
				<additional-attributes-for-rapid-classification></additional-attributes-for-rapid-classification>
				<additional-attributes-for-documents></additional-attributes-for-documents>
			</dccharge>
		</dc_charge_extension>
	</default>
</config>
